
[variables]
    PORT = "3020"
    NODE_ENV = "production"

[phases.setup]
    nixPkgs = ["nodejs", "npm"]

[phases.install]
    cmds = ["npm install"]

[phases.build]
    dependsOn = ["install"]
    cmds = ["npm run build"]

[start]
    cmd = "npx vite preview --port 3020 --host"
